@font-face {
	font-family: 'Londrina Outline';
	src: url('fonts/LondrinaOutline-Regular.ttf') format('woff2');
}

:root{
	--mainColor: #fed8b1;
	--mainText: black;
	--themeDotBordder:#24292e;
	--borderCoLor:#c1c1c1;
}

.transition-fade{
	transition: 0.4s;
	opacity: 1;
}

html.is-animating .transition-fade{
	opacity: 0;
}

a{
    text-decoration: none;
    color: var(--mainText);
}
a:hover{
	animation: .8s shake infinite alternate;
	transform: scale(1.3);
	transition-duration: 1s;
}
a:visited{
    text-decoration: none;
    color: var(--mainText);
}

#menu-wrapper:hover{
	overflow: hidden;

}

span, a, h1, h2, h3, h4, h5, h6{
	font-family: 'Londrina Outline', cursive;
	text-align: center;
	font-weight: 500;
}

p, li, label, input, textarea{
	font-family: 'Londrina Outline', cursive;
	font-weight: 500;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}
li {font-size: 38px;}

body {
	background-color: var(--mainColor);
	color: var(--mainText);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 100vh;
    margin: 0;
	overflow: hidden;
	font-family: 'Londrina Outline', cursive;
	transition: 3s;
}

.menu{
    font-size: 100px;
    vertical-align: top;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 25px;
	overflow: hidden;
	
}
ul li{
	list-style-type: none;
}

#nav-wrapper{
	position: absolute;
	top: 80px;
	right: 10px;
	font-size: 30px;
}

#content1{
	position: relative;
}
#content2{
	position: relative;
}

.footer{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	font-size: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: var(--mainText);
	text-align: center;
}

.floatup{
	animation: floatup 3s forwards;
}

@keyframes floatup {
	from {transform: translateY(0);}
	to {transform: translateY(-90%);}
}

.welcome-container span {
	cursor: pointer;
	display: inline-block;
	font-size: 100px;
	user-select: none;
	line-height: 0.8;
}
.welcome-container span:nth-child(1).active {
	animation: balance 1.5s ease-out;
	transform-origin: bottom left;
}
@keyframes balance {
	0%,
	100% {
		transform: rotate(0deg);
	}
	30%,
	60% {
		transform: rotate(-45deg);
	}
}
.welcome-container span:nth-child(2).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}
@keyframes shrinkjump {
	10%,
	35% {
		transform: scale(2, 0.2) translate(0, 0);
	}
	45%,
	50% {
		transform: scale(1) translate(0, -150px);
	}
	80% {
		transform: scale(1) translate(0, 0);
	}
}
.welcome-container span:nth-child(3).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}
@keyframes falling {
	12% {
		transform: rotateX(240deg);
	}
	24% {
		transform: rotateX(150deg);
	}
	36% {
		transform: rotateX(200deg);
	}
	48% {
		transform: rotateX(175deg);
	}
	60%,
	85% {
		transform: rotateX(180deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
.welcome-container span:nth-child(4).active {
	animation: rotate 1s ease-out;
}
@keyframes rotate {
	20%,
	80% {
		transform: rotateY(180deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
.welcome-container span:nth-child(5).active {
	animation: toplong 1.5s linear;
}
@keyframes toplong {
	10%,
	40% {
		transform: translateY(-48vh) scaleY(1);
	}

	90% {
		transform: translateY(-48vh) scaleY(4);
	}
}
.welcome-container span:nth-child(6).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}
@keyframes falling {
	12% {
		transform: rotateX(240deg);
	}
	24% {
		transform: rotateX(150deg);
	}
	36% {
		transform: rotateX(200deg);
	}
	48% {
		transform: rotateX(175deg);
	}
	60%,
	85% {
		transform: rotateX(180deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
.welcome-container span:nth-child(7).active {
	animation: rotate 1s ease-out;
}
@keyframes rotate {
	20%,
	80% {
		transform: rotateY(180deg);
	}

	100% {
		transform: rotateY(360deg);
	}
}
@keyframes balance {
	0%,
	100% {
		transform: rotate(0deg);
	}

	30%,
	60% {
		transform: rotate(-45deg);
	}
}


#theme-options-wrapper{
	position: absolute;
	left: 0;
	top: 10px;
}

.theme-dot{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    margin: 5px;
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    cursor: pointer;
    border: 2px solid var(--themeDotBordder);
}

.theme-dot:hover{
    transform: scale(1.3);
	transition-duration: 1s;
}


#light-mode{
    background-color: #fed8b1;
}
#blue-mode{
    background-color: #192734;
}
#green-mode{
    background-color: #78866b;
}
#purple-mode{
    background-color: #7e4c74;
}

#menu-wrapper:hover{
	animation: .8s shake infinite alternate;
}
#li1:hover{
	animation: .8s shake infinite alternate;
}

#li1{
	opacity: 0;
}
.appear{
	animation: appear 1s forwards;
}
#li2{
	opacity: 0;
}
.appear{
	animation: appear 3s forwards;
}
#li3{
	opacity: 0;
}
.appear{
	animation: appear 2s forwards;
}

#li2:hover{
	animation: .8s shake infinite alternate;
}
#li3:hover{
	animation: .8s shake infinite alternate;
}
@keyframes shake {
	0% { transform: skewX(-15deg); }
	5% { transform: skewX(15deg); }
	10% { transform: skewX(-15deg); }
	15% { transform: skewX(15deg); }
	20% { transform: skewX(0deg); }
	100% { transform: skewX(0deg); }  
}

.shop {
	position:absolute;
	left: 5%;
	bottom: 0%;
	transform:translate(-50%,-50%);
	text-align:center;
	perspective:50vw;
}
  
.shop span {
	display:block; 	
	font-size: 3vw;
	animation:number 5s linear infinite;
}
@keyframes number {
	100% { transform:rotateY(360deg); }
}
@keyframes appear {
	0% {opacity: 0;}
	100%{opacity: 1;}
}
@keyframes disapear {
	100%{opacity: 1;}
	0% {opacity: 0;}
}



/* GALLERY PAGE STYLES */
#back-link
{
    position: absolute;
    top: 55px;
    right: 30px;
    text-decoration: none;
    color: var(--mainText);
    font-family: 'Londrina Outline', cursive;
    letter-spacing: 1.1px;
	font-weight: 1000;

}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    background-color: var(--mainColor);
    color: var(--mainText);
  }

  body .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 600px;
    max-width: 900px;
    width: calc(100% - 100px);
    height: 400px;
  }
  @media screen and (max-width: 718px) {
    body .options {
      min-width: 520px;
    }
    body .options .option:nth-child(5) {
      display: none;
    }
  }
  @media screen and (max-width: 638px) {
    body .options {
      min-width: 440px;
    }
    body .options .option:nth-child(4) {
      display: none;
    }
  }
  @media screen and (max-width: 558px) {
    body .options {
      min-width: 360px;
    }
    body .options .option:nth-child(3) {
      display: none;
    }
  }
  @media screen and (max-width: 478px) {
    body .options {
      min-width: 280px;
    }
    body .options .option:nth-child(2) {
      display: none;
    }
  }
  body .options .option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  body .options .option:nth-child(1) {
    --defaultBackground: #ed5565;
  }
  body .options .option:nth-child(2) {
    --defaultBackground: #fc6e51;
  }
  body .options .option:nth-child(3) {
    --defaultBackground: #ffce54;
  }
  body .options .option:nth-child(4) {
    --defaultBackground: #2ecc71;
  }
  body .options .option:nth-child(5) {
    --defaultBackground: #5d9cec;
  }
  body .options .option:nth-child(6) {
    --defaultBackground: #ac92ec;
  }
  body .options .option.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
    /*&:active {
       transform:scale(0.9);
    }*/
  }
  body .options .option.active .shadow {
    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
  }
  body .options .option.active .label {
    bottom: 20px;
    left: 20px;
  }
  body .options .option.active .label .info > div {
    left: 0px;
    opacity: 1;
  }
  body .options .option:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
  }
  body .options .option:not(.active) .shadow {
    bottom: -40px;
    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
  }
  body .options .option:not(.active) .label {
    bottom: 10px;
    left: 10px;
  }
  body .options .option:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
  }
  body .options .option .shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 120px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  body .options .option .label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  body .options .option .label .icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
  }
  body .options .option .label .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: var(--mainText)
  }
  body .options .option .label .info > div {
    position: relative;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
  }
  body .options .option .label .info .main {
    font-weight: bold;
    font-size: 1.2rem;
  }
  body .options .option .label .info .sub {
    transition-delay: 0.1s;
  }
